<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">

	<context:annotation-config />
	<context:component-scan base-package="service" />
	<context:component-scan base-package="gui" />

	<!-- id: Id serviceClass: SEI (interfaz del Servicio) address: Dirección 
		del servicio (configurada en cxf-web.xml) -->
	<jaxws:client id="personaSoap" serviceClass="webservice.IPersonaSoap"
		address="http://localhost:8080/Ejercicio2Servidor/ws/PersonaSoap" />

	<bean id="jsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJsonProvider" />
	<jaxrs:client id="personaRest" serviceClass="webservice.IPersonaRest"
		address="http://localhost:8080/Ejercicio2Servidor/ws/personas">
		<jaxrs:providers>
			<ref bean='jsonProvider' />
		</jaxrs:providers>
	</jaxrs:client>
</beans>